#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.Dynamic-header {
  color: #0e8038;
}

.Dynamic-title {
  color: #099e40;
}

.Dynamic-span {
  display: flex;
  width: 100%;
  max-width: 800px;
}

.Dynamic-span input {
  flex: 1;
  padding: 8px;
  font-size: 1rem;
  border: solid 2px green;
  outline: none;
}

.Dynamic-button {
  padding: 8px 12px;
  font-size: 1rem;
  border-radius: 0;
  background-color: #0e8038;
  color: #fff;
  outline: none;
}

.Dynamic-form {
  background-color: #d7f7e3;
}

.Dynamic-span input::placeholder {
  color: green;
}





